# Firebase Configuration
VITE_FIREBASE_API_KEY="AIzaSyC5pCrH01Vz6CkCOvwIOequ481lYfdLUpE",
VITE_FIREBASE_AUTH_DOMAIN="pepperoni-5c523.firebaseapp.com",
VITE_FIREBASE_PROJECT_ID="pepperoni-5c523",
VITE_FIREBASE_STORAGE_BUCKET="pepperoni-5c523.firebasestorage.app",
VITE_FIREBASE_MESSAGING_SENDER_ID="105122387366",
VITE_FIREBASE_APP_ID="1:105122387366:web:d6c471fb0b317df9cbab67",
VITE_FIREBASE_MEASUREMENT_ID="G-9WK14Q7WCE

# Gemini AI (Server-side)
GEMINI_API_KEY=AIzaSyC-ThEeb1pW3rhEl5_1H4n33uC9dalYJy0

# Server Config
NODE_ENV=production
PORT=3000
